body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2eff7;
    
  }

/* ---------- CONTAINER ---------- */
.container {
    display: flex;
    width: 100%;
    max-width: 1000px;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
  }

/* ---------- LADO ESQUERDO (Texto e Botões) ---------- */
.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left h1 {
    font-size: 5rem;
    font-weight: 700;
    color: #3A1A53;
    padding: 4rem;
}

.left h2 {
    max-width: 510px;
    font-size: 1.6rem;
    color: #3A1A53;
    font-weight: 600;
    line-height: 1.4;
    text-align: center;
    margin-top: 9rem;
    padding: 0.5rem;
}

.left button {
    background-color: #3A1A53;
    color: white;
    border: none;
    padding: 4.8%;
    border-radius: 10px;
    font-size: 18px;
    width: 310px;
    cursor: pointer;
    align-items: center;
    margin-top: 1rem;
}

.left p {
    font-size: 15px;
    color: #73638D;
    margin-top: 0.3rem;
}

.left a {
    color: #3A1A53;
    text-decoration: none;
}

.subtext {
    font-size: 13px;
    color: #8a73a1;
    margin-top: 5px;
    margin-bottom: 30px;
  }
  
  /* ---------- LINK ESTILO (igual ao login) ---------- */
  .subtext a {
    color: #4a2c6d;
    font-weight: 600;
    position: relative;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  /* Sublinhado animado */
  .subtext a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #4a2c6d;
    transition: width 0.3s;
  }
  
  .subtext a:hover {
    color: #3a2159;
  }
  
  .subtext a:hover::after {
    width: 100%;
  }

/* ---------- LADO DIREITO (Imagem da Coruja) ---------- */
.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right img {
    width: 420px;      /* ajuste aqui para ficar exatamente como na imagem */
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

/* ---------- RESPONSIVO ---------- */
@media (max-width: 900px) {
    .container {
        flex-direction: column-reverse;
        padding: 20px;
        text-align: center;
    }

    .right img {
        width: 250px;
    }

    .left h1 {
        font-size: 40px;
    }

    .left h2 {
        font-size: 20px;
    }

    .left button {
        width: 100%;
    }
}
