/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #A783B5;
}

/* ▬▬▬▬▬▬▬▬ SIDEBAR ▬▬▬▬▬▬▬▬ */
.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #A783B5;
    padding: 25px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

/* LOGO */
.logo-area {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #2E1A47;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8rem;
}

.logo-area img {
    width: 3.5rem;
}

/* MENU */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 20px 0;
    margin-bottom: 2rem;
}

.menu li a {
    display: flex;
    align-items: center;
    gap: 12px;

    color: #2E1A47;
    text-decoration: none;
    font-size: 18px;
    transition: opacity 0.2s;
}

.menu li a:hover {
    opacity: 0.8;
}

.menu li a img {
    width: 2.2rem;
    height: 2.2rem;
}

/* BOTÃO SAIR */
.menu .sair {
    position: absolute;
    bottom: 20px;
    left: 20px;
}




/* ▬▬▬▬▬▬▬▬ CONTEÚDO ▬▬▬▬▬▬▬▬ */


/* CONTAINER BRANCO */
.container {
    margin-left: 17%;
    margin-right: 3%;
    background-color: #FDFBFF;
    border-radius: 28px;
    padding: 40px 30px;

    width: 85%;
    max-width: none;                

    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}



/* TÍTULOS */
h1 {
    font-size: 32px;
    color: #4B2C5E;
    margin-bottom: 30px;
}

/* ▬▬▬▬▬▬▬▬ CARDS ▬▬▬▬▬▬▬▬ */
.card {
    background-color: #9E88AD;
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 25px;
    color: white;

    width: 100%;
    box-sizing: border-box;
}

.card h2 {
    margin-top: 0;
}

/* ▬▬▬▬▬▬▬▬ CARD DE DESTAQUE (WELCOME) ▬▬▬▬▬▬▬▬ */
.welcome-card {
    background-color: #E6DDF3;
    border-radius: 18px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;

    width: 100%;
    box-sizing: border-box;
}

.welcome-text h2 {
    margin: 0;
    font-size: 2rem;
    color: #2E1A47;
}

.welcome-text p {
    margin-top: 8px;
    font-size: 16px;
    color: #4B2C5E;
}

.welcome-image img {
    width: 170px;
}

/* ▬▬▬▬▬▬▬▬ LISTA DE EXERCÍCIOS ▬▬▬▬▬▬▬▬ */
.lista-exercicios {
    list-style: none;
    padding: 0;
}

.lista-exercicios li {
    margin: 10px 0;
}

.lista-exercicios a {
    display: inline-block;
    padding: 8px 14px;
    background-color: #F6F3F9;
    color: #4B2C5E;
    border-radius: 8px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s;
}

.lista-exercicios a:hover {
    background-color: #E6DFF0;
}

/* RESPONSIVO */
@media (max-width: 900px) {
    .content {
        margin-left: 0;
        padding: 20px;
    }

    .content-container {
        padding: 25px;
        border-radius: 18px;
    }
}
