/* RESET */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #A783B5;
}

/* 郊석둷郊석둷郊석둷郊석둷 SIDEBAR 郊석둷郊석둷郊석둷郊석둷 */
.sidebar {
    width: 15%;
    height: 100vh;
    background-color: #A783B5;
    padding: 25px 20px;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
}

/* LOGO */
.logo-area {
    display: flex;
    align-items: center;
    gap: 2px;
    color: #2E1A47;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 8rem;
}

.logo-area img {
    width: 3.5rem;
}

/* MENU */
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 20px 0;
    margin-bottom: 2rem;
}

.menu li a {
    display: flex;
    align-items: center;
    gap: 12px;

    color: #2E1A47;
    text-decoration: none;
    font-size: 18px;
    transition: opacity 0.2s;
}

.menu li a:hover {
    opacity: 0.8;
}

.menu li a img {
    width: 2.2rem;
    height: 2.2rem;
}

/* BOT츾O SAIR */
.menu .sair {
    position: absolute;
    bottom: 20px;
    left: 20px;
}




/* 郊석둷郊석둷郊석둷郊석둷 CONTE칔DO 郊석둷郊석둷郊석둷郊석둷 */


/* CONTAINER BRANCO */
.container {
    margin-left: 17%;
    margin-right: 3%;

    background-color: #FDFBFF;
    border-radius: 28px;
    padding: 40px 30px;

    width: 85%;
    height: calc(100vh - 40px); /* altura fixa baseada na tela */

    box-sizing: border-box;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);

    overflow-y: auto;   /* 游댐 ativa rolagem vertical */
    overflow-x: hidden; /* evita rolagem lateral */
}



/* T칈TULOS */
h1 {
    font-size: 32px;
    color: #4B2C5E;
    margin-bottom: 30px;
}

/* 郊석둷郊석둷郊석둷郊석둷 CARDS 郊석둷郊석둷郊석둷郊석둷 */
.card {
    background-color: #9E88AD;
    border-radius: 14px;
    padding: 25px;
    margin-bottom: 25px;
    color: white;

    width: 100%;
    box-sizing: border-box;
}

.card h2 {
    margin-top: 0;
}

/* 郊석둷郊석둷郊석둷郊석둷 CARD DE DESTAQUE (WELCOME) 郊석둷郊석둷郊석둷郊석둷 */
.welcome-card {
    background-color: #E6DDF3;
    border-radius: 18px;
    padding-left: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;

    width: 100%;
    box-sizing: border-box;
}

.welcome-text h2 {
    margin: 0;
    font-size: 2rem;
    color: #2E1A47;
}

.welcome-text p {
    margin-top: 8px;
    font-size: 16px;
    color: #4B2C5E;
}

.welcome-image img {
    width: 170px;
}


