{% extends "layout.html" %}

{% block content %}
<h1>Exercícios</h1>

<div class="card">
    <h2>Física</h2>
    <ul class="lista-exercicios">
        <li><a href="#">Ondulatória</a></li>
        <li><a href="#">Eletrodinâmica</a></li>
        <li><a href="#">Cinemática</a></li>
    </ul>
</div>

<div class="card">
    <h2>Biologia</h2>
    <ul class="lista-exercicios">
        <li><a href="#">Citologia</a></li>
        <li><a href="#">Metabolismo Energético</a></li>
        <li><a href="#">Genética</a></li>
    </ul>
</div>
{% endblock %}
