{% extends "layout.html" %}

{% block content %}

<div class="welcome-card">
    <div class="welcome-text">
        <h2>ótimo,você quer praticar! 👋</h2>
        <p>temos listas de questões dos nossos conteúdos, selecionados para você</p>
    </div>

    <div class="welcome-image">
        <img src="{{ url_for('static', filename='imagens/corujaroxacom+.png') }}" alt="Estudando">
    </div>
</div>

<h1>Exercícios</h1>

<div class="card">
    <h2>Física</h2>
    <ul class="lista-exercicios">
        <li><a href="#">Ondulatória</a></li>
        <li><a href="#">Eletrodinâmica</a></li>
        <li><a href="#">Cinemática</a></li>
    </ul>
</div>

<div class="card">
    <h2>Biologia</h2>
    <ul class="lista-exercicios">
        <li><a href="#">Citologia</a></li>
        <li><a href="#">Metabolismo Energético</a></li>
        <li><a href="#">Genética</a></li>
    </ul>
</div>
{% endblock %}
