{% extends "layout.html" %}

{% block content %}

<div class="welcome-card">
    <div class="welcome-text">
        <h2>ótimo,você quer praticar! 👋</h2>
        <p>temos listas de questões dos nossos conteúdos, selecionados para você</p>
    </div>

    <div class="welcome-image">
        <img src="{{ url_for('static', filename='imagens/corujaroxacom+.png') }}" alt="Estudando">
    </div>
</div>

<div class="exercicios-grid">

    <!-- CARD FÍSICA -->
    <div class="card-exercicio">
        <h2>FÍSICA</h2>

        <ul class="lista-exercicios fisica">
           <li>
                <a href="{{ url_for('static', filename='questoes/questoes_ondas.pdf') }}" target="_blank">
                    Ondulatória
                </a>
            </li>

            <li><a href="#">Eletrodinâmica</a></li>
            <li><a href="#">Cinemática</a></li>
        </ul>

        <img class="icon-card"
            src="{{ url_for('static', filename='imagens/matematica.png') }}"
            alt="Física">
    </div>

    <!-- CARD MATEMÁTICA -->
    <div class="card-exercicio">
        <h2>MATEMÁTICA</h2>

        <ul class="lista-exercicios matematica">
            <li><a href="#">Função</a></li>
            <li><a href="#">Permutação</a></li>
            <li><a href="#">Geometria</a></li>
        </ul>

        <img class="icon-card"
            src="{{ url_for('static', filename='imagens/matematica.png') }}"
            alt="Matemática">
    </div>


</div>
{% endblock %}

