{% extends "layout.html" %}

{% block content %}

<div class="welcome-card">
    <div class="welcome-text">
        <h2>>Que bom ver você estudando Física! 🚀 </h2>
        <p>Aqui ficam os nossos mapas de física, espero que te ajudem a aprender!</p>
    </div>

    <div class="welcome-image">
        <img src="{{ url_for('static', filename='imagens/corujaroxacom+.png') }}" alt="Estudando">
    </div>
</div>

<h1> Física — Mapas Mentais</h1>

<div class="mapas-grid">

    <!-- MAPA 1 -->
    <div class="mapa-card">
    <iframe
        src="{{ url_for('static', filename='mapas/mapa_ondas.pdf') }}"
        loading="lazy">
    </iframe>

    <h3>Ondulatória</h3>

    <div class="acoes">
        <a href="{{ url_for('static', filename='mapas/mapa_ondas.pdf') }}" target="_blank">
             Tela cheia
        </a>

        <a href="{{ url_for('static', filename='mapas/mapa_ondas.pdf') }}"
           download="Mapa_Ondulatoria.pdf">
            Download
        </a>
    </div>
</div>


    <!-- MAPA 2 -->
    <div class="mapa-card">
        <iframe 
            src="{{ url_for('static', filename='mapas/mapa_cinematica.pdf') }}">
        </iframe>

        <h3>Cinemática</h3>

       <div class="acoes">
            <a href="{{ url_for('static', filename='mapas/mapa_cinematica.pdf') }}" target="_blank">
                Tela cheia
            </a>

            <a href="{{ url_for('static', filename='mapas/mapa_cinematica.pdf') }}"
            download="Mapa_Ondulatoria.pdf">
                Download
            </a>
    </div>
        </div>
    </div>

    

</div>

{% endblock %}
