<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Apresentação</title>

  <link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div class="container"> 

        <!-- LADO ESQUERDO (Texto e Botões) -->
        <div class="left">
            <h1>MindMap+</h1>
            <h2>conecte ideias, aprofunde saberes e aprenda com mais qualidade.</h2>

            <a href="{{ url_for('login') }}">
                <button>fazer login</button>
            </a>

            <p class="subtext">ainda não tem login?
                <a href="{{ url_for('cadastro') }}">fazer cadastro</a>

        </div>

        <!-- LADO DIREITO (Imagem) -->
        <div class="right">
            <img src="/static/imagens/logo_roxa700.png" alt="Logo MindMap+" />
        </div>

    </div>
</body>
</html>


