<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>MindMap+</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="logo-area">
            <img src="{{ url_for('static', filename='imagens/logo_roxa700.png') }}" alt="Logo MindMap+">
            <span>MindMap+</span>
        </div>

        <ul class="menu">
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/materias">Conteúdos</a></li>
            <li><a href="/exercicios">Exercícios</a></li>
            <li><a href="/quiz">Quiz</a></li>
            <li class="sair">
                <a href="{{ url_for('logout') }}">Sair</a>
            </li>
        </ul>
    </div>

    <!-- CONTEÚDO -->
    <div class="container">
            {% block content %}{% endblock %}
    </div>

</body>
</html>
