<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>MindMap+</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
</head>

<body>

    <!-- SIDEBAR -->
    <div class="sidebar">
        <div class="logo-area">
            <img src="{{ url_for('static', filename='imagens/logo_roxa700.png') }}" alt="Logo MindMap+">
            <span>MindMap+</span>
        </div>

        <ul class="menu">
            <li>
                <a href="/perfil">
                    <img src="{{ url_for('static', filename='icon/perfil.png') }}">
                    <span>PERFIL</span>
                </a>
            </li>

            <li>
                <a href="/materias">
                    <img src="{{ url_for('static', filename='icon/conteudos.png') }}">
                    <span>CONTEÚDOS</span>
                </a>
            </li>

            <li>
                <a href="/exercicios">
                    <img src="{{ url_for('static', filename='icon/exercicios.png') }}">
                    <span>EXERCICIOS</span>
                </a>
            </li>

            <li>
                <a href="/quiz">
                    <img src="{{ url_for('static', filename='icon/quiz.png') }}">
                    <span>QUIZ</span>
                </a>
            </li>

            <li class="sair">
                <a href="{{ url_for('logout') }}">
                    <img src="{{ url_for('static', filename='icon/sair.png') }}">
                    <span>SAIR</span>
                </a>
            </li>
        </ul>


        
    </div>

    <!-- CONTEÚDO -->
    <div class="container">
            {% block content %}{% endblock %}
    </div>

</body>
</html>
