{% extends "layout.html" %}

{% block content %}

<div class="welcome-card">
    <div class="welcome-text">
        <h2>Olá, Prontos para começar seus estudos hoje? 👋</h2>
        <p>Preparamos materiais para você estudar aquele conteúdo que tem dificuldade.</p>
    </div>

    <div class="welcome-image">
        <img src="{{ url_for('static', filename='imagens/corujaroxacom+.png') }}" alt="Estudando">
    </div>
</div>

<h1>matérias</h1>

<a href="/materia/fisica" class="materia-card">
    <img src="{{ url_for('static', filename='imagens/fisica.png') }}" alt="Física">
    <div class="materia-texto">
        <h2>Física</h2>
        <p>
            Aqui você consegue visualizar e baixar nossos mapas mentais
            sobre ondulatória, eletrodinâmica e conteúdos relacionados.
        </p>
    </div>
</a>

<a href="/materia/matematica" class="materia-card">
    <img src="{{ url_for('static', filename='imagens/matematica.png') }}" alt="Matemática">
    <div class="materia-texto">
        <h2>Matemática</h2>
        <p>
            Aqui você consegue visualizar e baixar nossos mapas mentais
            e conteúdos relacionados.
        </p>
    </div>
</a>

{% endblock %}
